*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Diseño{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

button{
    margin: 10px;
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.925);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}

button:hover{
    color: rgb(0, 0, 0);
}

button span{
    position: absolute;
    background: rgb(0, 0, 0);
    transition: .5s;
}

button span:nth-child(1){
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2){
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3){
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4){
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1){
    left: 0;
}

button:hover span:nth-child(2){
    right: 0;
}

button:hover span:nth-child(3){
    bottom: 0;
}

button:hover span:nth-child(4){
    top: 0;
}

/*////////////////////////////*/
.Envio{
    margin: 10px;
    nav-down: center;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.925);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}